// Define Colors
$black: #000;
$dark-gray: #333;
$gray: #888;
$semilight-gray: #aaa;
$light-gray: #e5e5e5;
$semi-white: #eee;
$white: #fff;
$red: #ff1100;
$dark-red: #b30c00;
$orange: #ff9100;
$lime: #00ff00;
$blue: #2d5cf7;
$light-blue:#00baf8;

$danger: $red;
$success: $lime;
$info: $light-blue;
$dark: $dark-gray;
$light: $semi-white;


// Theme Colors
$main-color: $light-gray;
$sub-color: $semi-white;
$text-color: $dark-gray;
